/*SECCION CONTAINER QUIENES SOMOS*/
.item-row-column1{
    display: block;
    width: 100%;
    background-color: rgb(170, 30, 226);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.item-row-column2{
    display: block;
    width: 100%;
    padding: 0px 0px 0px 10px;
    background-color: tomato;
    justify-content: right;
}
#Stan-lee{
    display: flex;
    justify-content: center;
}
main{
    #Stan-lee{
        img{
            width: 15rem;
            height: 15rem;
        }
    }
}
iframe{
    width: 100%;
    height: 330px;
}