@import "utilidades/extend";
/*estilos de containes index*/
.botones{
    display: flex;
    justify-content: center;
}
.row{
    display: flex;
    padding: 10px 10px 10px 10px;
    max-width: 100%;
    margin: 0px;
}
/*seccion container index*/
.item-row{
    display: block;
}
.ojo{
    background: url(../img/ojo-vista.png) no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
}
#titular{
    background-color: aqua;
}
#formulario-noticia{
    background-color: tomato;
}
.container-noticia{
    @extend %containerIndex
}
#noticia{
    @extend %containerIndex
}























