/* ESTILOS DE NAW SIN BOOSTSTRAP */
footer{
    background-color: rgba(148, 142, 142, 0.974);
    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
}