/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: #0d2a0e;
}
@import "sin-boostrap.scss";
@import "animaciones.scss";
@import "estilos-generales.scss";
@import "estilos-index.scss";
@import "estilos-footer.scss";
@import "media-logo.scss";
@import "container-quienes-somos.scss";
@import "container-contrato";
@import "container-villanos";
